# After cloning the repository, create a new `.env` file and populate it with your secrets.

# Provide the database URL to connect to the database.
# This project uses Supabase as the primary database.
# @see https://supabase.com/docs/guides/database/connecting-to-postgres#direct-connection
DATABASE_URL=""

# Provide the Resend API key for the transactional email service.
RESEND_API_KEY=""

# Provide a secret key for the authentication.
# This key should be secure and can be generated with:
# `openssl rand -base64 32`.
BETTER_AUTH_SECRET=""

# Provide the session cookie prefix for the authentication cookie.
NEXT_PUBLIC_SESSION_COOKIE_PREFIX="kafeasist"

# This URL defaults to "https://kafeasist.com/api/auth" but can be changed to a local URL for development.
# NEXT_PUBLIC_AUTH_PROXY_URLL="http://localhost:3000/api/auth"
NEXT_PUBLIC_AUTH_PROXY_URL="https://kafeasist.com/api/auth"
