# After cloning the repository, create a new `.env` file and populate it with your secrets.

# Provide the database URL to connect to the database.
# This project uses Supabase as the primary database.
# @see https://supabase.com/docs/guides/database/connecting-to-postgres#direct-connection
DATABASE_URL=""

# Provide a secret key for the authentication proxy.
# This key should be secure and can be generated with:
# `openssl rand -base64 32`.
BETTER_AUTH_SECRET=""

# Provide the URL for the authentication proxy.
# This URL defaults to "https://auth.kafeasist.com/" but can be changed to a local URL for development.
# BETTER_AUTH_URL="http://localhost:8000"
BETTER_AUTH_URL="https://auth.kafeasist.com/"

# Provide the port for the authentication proxy to run at.
# This port defaults to 8000 but can be changed to any available port.
AUTH_PROXY_PORT="8000"